<div class="container">
<div class="whitebackground project_one container" id="project_<%= _id %>" style="width:auto; border:2px solid <%= color %>;">
    <div><textarea id="projectText" style="border:none;outline:none; width:100%"><%= text %></textarea></div>
    <div><textarea id="projectName" style="border:none;outline:none; width:100%"><%= name %></textarea></div>
    <div><input type="color" id="color" value="<%= color %>" /> </div>
    <div><%= cFiles %></div>
    <input type="file" id="fileToUpload" identity="<%= _id %>" style="display:none;" />
    <div class="project_one_buttons">
        <button identity="<%= _id %>" class="projectsEdit glyphicon glyphicon-edit"></button>
        <button identity="<%= _id %>" class="projectsDelete glyphicon glyphicon-remove"></button>
        <button identity="<%= _id %>" class="projectsUploadFile glyphicon glyphicon-open-file"></button>
    </div>
        <div class="project_one_good"></div>
        <div class="project_one_good_loading">Drop file here</div>
</div>
</div>
