/* LOGIN - FIRST VIEW */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);
body,html{
    -webkit-text-size-adjust: 100%;
    font-family:"Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size:16px;
    font-weight:300!important;
}
/*NAVIGATION*/
.messages_from_them .profileListPhoto{
    height: 45px!important;
	top: 14px!important;
    left: 0px;
    position: relative;
}
.nav li{
    padding-left:12px;
    padding-right:12px;
}
.nav>li>button:hover{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#rightitem:hover{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#rightitem:active{
    background-color: rgba(0,0,0,0);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.nav>li>button:active{
    background-color: rgba(0,0,0,0);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.nav>li>button:focus{
    outline: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
/*END NAVIGATION*/
.nav img{
    max-width:36px;
    max-height:36px;
}
.header{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    height:38px;
    padding-top:4px;
}
.header-height{
    height:28px;
}
#rightitem{
    font-size:20px;
    cursor:pointer;
}
#footer-nav-center{
    text-align:center;
}
.nav-center li {
    float: left;
}
.nav-center {
    float:none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav>li>a{
    font-size:13px;
    padding:0px;
    margin:0px;
}
.nav>li>button{
    font-size:13px;
    padding:0px;
    margin:0px;
    background:none;
}
#menitem{
    outline:none!important;
    border:none!important;
    vertical-align:middle;
}
.icon-turn-off{
    font-size:24px;
    outline:none!important;
    border:none!important;
}
#left-menu{
    width:250px;
    height:100%;
    position:fixed;
    left:0px;
    top:38px;
    z-index:99999;
    display:none;
}
.footer{
    z-index: 999999;
}
#left-menu .nav>li a{
    padding-left:10px;
}
#left-menu .nav>li{
    padding:0px;
    margin:0px;
    width: 250px;
}
#left-menu .nav>li>div img{
    cursor:pointer;
}
#left-menu .nav>li>div{
    float:right;
    font-size:17px!important;
    padding-top:5px;
    padding-bottom:5px;
}
#left-menu .nav>li>a{
    border:none;
    font-size:17px!important;
    padding-top:5px;
    padding-bottom:5px;
}
#left-menu .nav>li>button{
    border:none;
    text-align:left;
    font-size:17px!important;
    padding-top:5px;
    padding-bottom:5px;
}

button{
    font-weight:300!important;
    padding:0px;
    margin:0px;
}

.login-screen button{
    font-size:16px;
    width:100%;
    border:none;
    height:50px;
    outline:none!important;
    border-radius:0px;
}
.login-screen input{
    width:100%;
    border:none;
    height:50px;
    margin-bottom:10px;
    outline:none!important;
}
.login-screen input:focus{
    border:none!important;
    outline:none!important;
}
.login-header{
    font-weight:300!important;

}
.login-screen{
    width:600px;
    margin:auto;
    padding:15px;
    margin-top:50px;
    margin-bottom:50px;
}
@media (max-width: 768px) {
    .login-screen{
        width:100%;
    }
    .containerMessages{
        display:none;
    }
    .usersLeftMenu{
        width:100%!important;
    }
    .container{
        margin:0px!important;
        padding:0px!important;
    }
    .projects_one_in_list .project_one{
        width:219.5px!important;
    }
    .projects_one_in_header{
        width:230px!important;
    }
    .projects_one_in_header .project_one{
        width:210px!important;
    }
}
@media (max-width: 768px) and (orientation:portrait) {
    #footer-nav-center ul li{
        padding-left:7px!important;
        padding-right:7px!important;
    }
    .projects_one_in_list .project_one{
        width:298px!important;
    }
    .projects_one_in_header{
        width:310px!important;
    }
    .projects_one_in_header .project_one{
        width:290px!important;
    }
}
/*IPHONE */

/* IPHONE END */
/* LOGIN END */
.nav li a{
    border-radius:0px;
}

.footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding:5px;
    padding-bottom:1px;
}
.footer-container{
    margin-bottom:80px;
}

#main{
    margin-top:20px;
    margin-bottom:20px;
}
/*PROJECT ------------------------------------------ */
.projectMain{
    cursor:pointer;
    padding-left:10px;
}
.projectMainFiles{
    border-radius:5px;
    padding:5px;
    margin-bottom:5px;
}
.projects td{
    vertical-align:top;
}
.row{
    margin:0px;
}
.my_radio label{
    cursor:pointer;
}
.projectsEdit{
    cursor:pointer;
}
.project_one_good_loading{
    display:none;
}
.projectsDelete{
    cursor:pointer;
}
.projects_one_in_header li{
    list-style:none;
}
.tsortable{
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}
.projects_one_in_list td{
    display:inline-block;
}
.projects_one_in_list .project_one{
    margin-right:15px;
}
.projects_one_in_list{
    width:auto!important;
    margin-left:0px!important;
    padding-top:10px;
    padding-right:0px!important;
}
.projects_one_in_header{
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    border-radius:5px;
    font-weight:bold;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:1px;
    width:194px;
    margin-left:5px;
}
.project_one{
    position:relative;
    font-weight:normal;
    width:174px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:3px;
    margin-bottom:10px;
    word-wrap: break-word;
}
.project_one_buttons{
    padding-left:10px;
}
.project_one button{
    border:none;
    border-radius:3px;

}
#create_project{
    margin-top:10px;
}
.create_project{
    margin-bottom:10px;
}
.clear_both{
    clear:both;
}
#notification {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: .94;
    top: 20px;
}
/*ONLY IN ANGULAR*/
/*usersLeftMenu*/
.usersLeftMenu{
    float:left;
    width:20%;
    margin:0px;
    padding:0px;
    vertical-align:top;

}
.containerMessages{
    float:left;
    width:80%;
    display:inline-block;
    position:relative;
}
.search_in_messages{
    position:absolute;
    bottom:49px;
    height:30px;
    margin:0px!important;
    display:none;
}
.onFileUploadProgress{
    position:absolute;
    z-index:9999;
    margin:0px!important;
    display:none;
    width:100%;
    bottom:90px;
    height:7px!important;
    left:0px;
}
.onWrittingToUser{
    position:absolute;
    bottom:85px;
    z-index:9999;
    margin:0px!important;
    display:none;
    padding-left: 10px;
    background: white;
    width: 100%;
    font-style: italic;
}
.bottomsendmsg{
    width:100%;
    margin:0px;
    padding:0px;
    border-left:none;
    padding:5px;
    position:absolute;
    bottom:7px;
}
.textareaforuser{
    height:30px;
    width:100%;
    padding-left:10px;
    outline:none!important;
    box-shadow:none!important;
}
.sendButton{
	padding: 5px!important;
    position: relative;
    top: -5px;
    border: none!important;
}
.addFileButton{
    border: 1px solid #ccc;
    margin:0px;
    padding-right: 7px!important;
    padding-top: 3px!important;
    top:0px;
}
.glyphonline{
    font-size: 14px;
    padding-right:5px;
}
.usersLeftMenu{
    height: 100vh;
    margin-top: -107px;
    padding-top: 97px;
}
.innerUsersLeftMenu{
overflow-y:auto;
height:100%;
}
.allmessages{
    position:relative;
    height: 100vh;
    /* height:309px; 91px footer */
    overflow-y:scroll;
	border-bottom: 91px solid white;
    border-top: 90px solid white;
}
.userChoose{
    font-size:14px;
    padding-top:10px;
    padding-left:10px;
    height:60px;
    cursor:pointer;
    position:relative;
}
.user_photos_class {
    max-width: 100px;
    max-height: 100px;
}
.message_from_left_for_photo {
    vertical-align: top;
    height: 58px;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    float: left;
    margin-top: -10px;
}
.peopleView .userChoose{
    float:left;
    width:49%;
    cursor:auto;
    margin:5px;
}
.peopleView .userChoose .bottom{
    display:none!important;
    position:absolute;
}
.user-add{
    float:right;
    margin-right:10px;
    margin-top:0px;
    font-size:35px;
    cursor:pointer;
    position:relative;
    top:-30px;
}
.user-accept{
    float:right;
    margin-right:10px;
    margin-top:-18px;
    font-size:35px;
    cursor:pointer;
}
@media (max-width: 768px) {
    .containerMessages{
        width:100%;
        border:none;
    }
    #messagesContainer{
        overflow:initial;
        padding-top:10px;
        margin-bottom:0px;
    }
    .footer{
        padding:0px;
    }
    #footer-nav-center{
        padding-top:5px;
    }
    body,html{
        min-height:0!important;
    }
    #main{
        margin-top:0px;
        margin-bottom:0px;
    }
    .textareaforuser{
        box-shadow:none!important;
        height:30px;
        border:none!important;
        border-top:1px solid #ccc!important;
        margin:0px!important;
        padding:0px!important;
        padding-left:10px!important;
        outline:none!important;
    }
    .sendButton{
        padding:0px!important;
        border: none;
        color: #4000FF;
        font-weight: bold!important;
        float: right;
        margin-right:20px;
        margin-bottom: 10px;
    }
    .bottomsendmsg{
        position:fixed;
        bottom:0px!important;
        background:white!important;
        border:none!important;
        margin:0px!important;
        padding:0px!important;
    }
    .addFileButton{
        margin-right:10px;
        font-weight: 100!important;
        right:0px;
        font-size:21px;
        margin-top: -4px;
        color:#666!important;
        border:none!important;
    }
    .allmessages{
        height:auto!important;
    }
    .usersLeftMenu{
        height: auto!important;
        margin: 0px!important;
        padding: 0px!important;
    }
    .peopleView .userChoose{
        width:99%;
    }
    .menuContainer{
        margin-right:auto!important;
    }
    .usersLeftMenu .ng-scope:last-child span div {
        border-bottom:none!important;
    }
}

.menuContainer{
    border-radius:5px;
    padding:0px;
    margin-left:auto;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
	float:right;
}
.menuItem{
    width:50px;
    padding-left:10px;
    padding-right:10px;
}
.menuItemLast{
    width:50px;
    padding-left:10px;
    padding-right:10px;
}
.search_textarea{
    margin-top:5px;
    margin-bottom:5px;
    border-radius:0px;
    border-right:none;
    border-left:none;
}
.search_textarea:active, .search_textarea:focus{
    box-shadow: none;
    border-right:none;
    border-left:none;
}
.user_photos_class{
    max-width:100px;
    max-height:100px;
}
.glyph_delete_conv{
    position:absolute;
    top:0px;
    right:0px;
    cursor:pointer;
}
.numbUserMsged{
    position: absolute;
    top: 0px;
    border-radius: 50px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 11px;
padding-bottom: 3px; right: 15px;
}
.numberOnIcon{
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 11px;
}
/*END ONLY IN ANGULAR*/
.profileListPhoto{
    height:58px;
    max-width:150px;
    vertical-align:middle;
}
.message_from_left_for_photo{
    vertical-align:top;
    height:58px;
    margin:auto;
    display:inline-block;
    text-align:center;
    margin-right:3px;
    margin-left:3px;
    float:left;
	margin-top: -10px;
}
.peopleView .message_from_left_for_photo{
	margin-top: 0px;
}
.message_from_left .profileListPhoto{
    top: 0px;
    left: 0px;
}
.message_text_left{
    display:inline-block;
    padding:5px;
    border-radius:2px;
    font-size:15px;
    margin-left:5px;
    margin-top:4px;
}
.messages_from_me{
    display:inline-block;
}
.messages_from_them{
    display:inline-block;
}
.myMessageInChat{
    display:block;
    width:100%;
    padding-left:65px;
    padding-right:5px;
}
.myMessageInChat .message_text_left{
    display:block;
    margin:0px;
}
.myMessageInChat .message_from_left_for_photo{
    display:none;
}
#messagesContainerInnerHere{
    padding:4px;
}
.bottom{
    word-break: break-all;
    line-height: 20px;
}
.message_text_left{
    word-break: break-all;
}
.usersNameBv{
    vertical-align:bottom;
    line-height:40px;
}
#notificationsView .usersNameBv{
line-height:20px;
}
.headerAppend .usersNameBv{
    line-height:25px;
}