<div id="navigation_main"></div>
			<div class="viewChooseDivB">
				<button id="board_view_show" class="viewButtonsIn"><%= translate("Board view") %></button>
				<div id="viewsAdded"></div>
			<div><b class=""><%= translate("Week number:") %> <%= getWeekNumber() %></b>
				<button class="viewButtonsIn select_all_true"><%= translate("Select all") %></button>
				<button class="viewButtonsIn deselect_all_true"><%= translate("Deselect all") %></button>
			</div>
			<div style="clear:both;"></div>
			<div id="the_entries_impacted"></div>
			</div>
<table class="projects row" id="the_all_projects">
    <tr class="tsortable"></tr>
</table>
<div class="clear_both"></div>
<div id='calendar'></div>