<% 
var loggedinuser = getLoggedInEmail();
var userspath = "";

if (belongs_to_is_email) {
	email = belongs_to;
	if (loggedinuser == email) {
		parentvisibility = "editpublic";
	}
}
if (loggedinuser != email) {
	userspath = "/"+email;
}
if(isHeader) { %>
    <div class="projects_one_in_header width_all projectclass_<%= _id %>" id="project_<%= _id %>" style="background:none; border:none; box-shadow:none;  ">
        <span class="my_radio">
                <a href="#projectsinlist/<%= _id %>/_<%=userspath%>"><span style="padding-left:15px; font-size:25px;" id="text_id<%= _id %>"><%= text %></span></a>
			<% if(parentvisibility == "editpublic" || parentvisibility == "editprivate"){ %>
				<span identity="<%= _id %>" class="projectsEdit glyphicon glyphicon-edit"></span>
				<span identity="<%= _id %>" class="projectsDelete glyphicon glyphicon-remove"></span>
				<button isheader="true" identity="<%= _id %>" class="headerAddImgButton projectsUploadFile glyphicon glyphicon-open-file"></button>
				<input isheader="true" type="file" id="fileToUpload" identity="<%= _id %>" class="FileUploadIt<%= _id %>" identity="<%= _id %>" style="display:none;" />
			<% } %>
			<% if (loggedinuser != "" && loggedinuser != "_") { %>
					<div class="containerOfInputs">
						<textarea id="project_text_entry<%= _id %>" identity="<%= _id %>" placeholder="<%= translate("Entry") %>" type="text" data-text="entry" class="addentryinput goonnewtext"></textarea>
						<textarea id="project_text_project<%= _id %>" identity="<%= _id %>" placeholder="<%= translate("Project") %>" type="text" data-text="project" class="addprojectinput goonnewtext"></textarea>
					</div>
			<% } %>
			<div>
				<div id="showAddNew" class="showAddNewButtonFor<%= _id %> containerOfNewAdd" style="display:none;">
					<div>
						<select class="modalTextareaMine modalSelectAreaMin" id="visibilityOfNewHere<%= _id %>">
							<option <% if (getDefaultVisibility() == "editcommentpublic"){ %>selected<% } %> value="editcommentpublic">Public</option>
							<option <% if (getDefaultVisibility() == "editcommentfriends"){ %>selected<% } %> value="editcommentfriends">Friends</option>
							<option <% if (getDefaultVisibility() == "editcommentprivate"){ %>selected<% } %> value="editcommentprivate">Private</option>
							<option <% if (getDefaultVisibility() == "public"){ %>selected<% } %> value="public">Public (comments disabled)</option>
							<option <% if (getDefaultVisibility() == "friends"){ %>selected<% } %> value="friends">Friends (comments disabled)</option>
							<option <% if (getDefaultVisibility() == "private"){ %>selected<% } %> value="private">Private (comments disabled)</option>
							<option <% if (getDefaultVisibility() == "editpublic"){ %>selected<% } %> value="editpublic">Public (edit post)</option>
							<option <% if (getDefaultVisibility() == "editfriends"){ %>selected<% } %> value="editfriends">Friends (edit post)</option>
							<option <% if (getDefaultVisibility() == "editprivate"){ %>selected<% } %> value="editprivate">Private (edit post)</option>
						</select>
						<button pid_project="<%= hisinproject_this %>" pid="<%= _id %>" identity="<%= _id %>" id="createThisNewButton" class="btn btn-default viewButtonsIn saveNewPostHere">Create</button>
						<button identity="<%= _id %>" id="cancelCreateButton" class="btn btn-default viewButtonsIn createNewButton">Cancel</button>
					</div>
				</div>
			</div>
        </span>
        <div class="projects_all_the_in_header" id="projects_one_in<%= _id %>" style="display:block;"></div>
		<% if(header_count_old_numb > 0){ %>
			<button count="<%=header_count_old_numb%>" class="load_more_for_header general_button"><%=translate("Load more")%></button>
		<% } %>
    </div>
<% }else{ %>
<div class="project_one projectclass_<%= _id %> project_one_article_style_many" id="project_<%= _id %>" style="background:<%= color %>; border:none; position:relative;">
<div class="project_one_good"></div>
<div class="project_one_good_loading"><%= translate("Drop file here") %></div>
    <input type="file" id="fileToUpload" identity="<%= _id %>" class="FileUploadIt<%= _id %>" identity="<%= _id %>" style="display:none;" />
    
<% if(typeof files_show != "undefined" && files_show != "") { %>
			<div class="files_images_show" identity="<%= _id %>">
			<div class="absolute_comments_count_on_img_show">
				<div class="comments_on_count_data"><div class="glyphicon glyphicon-comment icon-in-menu icon-turn-off" aria-hidden="true"></div> <%= comments_count %></div>
			</div>
			<% _.each(files_show.split(","), function(offile) { %> 
				<% 
				if(typeof offile.split(";")[0] != "undefined" && offile.split(";")[0] != ""){
					if(offile.split(";")[0].split(".").length > 1 && 
					(offile.split(";")[0].split(".")[1] === "jpg" || offile.split(";")[0].split(".")[1] === "png")){
					%>
						<img src="<%=filesurl %>/files/project_managing_files/<%= _id %>/<%= offile.split(";")[0] %>" alt="" />
					<%
					}
					if(offile.split(";")[0].split(".").length > 1 && 
					(offile.split(";")[0].split(".")[1] === "mp4" || offile.split(";")[0].split(".")[1] === "ogg" || offile.split(";")[0].split(".")[1] === "webm")){
					%>
						<video controls>
						  <source src="<%=filesurl %>/files/project_managing_files/<%= _id %>/<%= offile.split(";")[0] %>" type="video/<%= offile.split(";")[0].split(".")[1] %>">
						Your browser does not support the video tag.
						</video>
					<%
					}
					if(offile.split(";")[0].split(".").length > 1 && 
					(offile.split(";")[0].split(".")[1] === "mp3")){
					%>
					<audio controls>
					  <source src="<%=filesurl %>/files/project_managing_files/<%= _id %>/<%= offile.split(";")[0] %>" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>
					<%
					}
					if(offile.split(";")[0].split(".").length > 1 && 
					(offile.split(";")[0].split(".")[1] === "wav")){
					%>
					<audio controls>
					  <source src="<%=filesurl %>/files/project_managing_files/<%= _id %>/<%= offile.split(";")[0] %>" type="audio/wav">
					Your browser does not support the audio element.
					</audio>
					<%
					}
				}
				%>
			<% }); %> 
			</div>
		<% } %>
	
	<% if(text != "" && text != "-") { %>
		<% if(parentvisibility == "editpublic" || parentvisibility == "editprivate"){ %>
			<div identity="<%= _id %>" class="projectMain projectClickIn" id="text_id<%= _id %>" style="background:none; z-index:5;">
				<span class="project_text_back_main"><%= text %></span>
			</div>
		<% }else{ %>
			<div identity="<%= _id %>" class="projectMain files_images_show" id="text_id<%= _id %>" style="background:none; z-index:5;">
				<span class="project_text_back_main"><%= text %></span>
			</div>
		<% } %>
	<% } %>
    <div class="project_one_buttons">
		<% if(parentvisibility == "editpublic" || parentvisibility == "editprivate"){ %>
			<button identity="<%= _id %>" class="projectsDelete glyphicon glyphicon-remove"></button>
			<button identity="<%= _id %>" class="projectsUploadFile glyphicon glyphicon-open-file"></button>
			<button identity="<%= _id %>" class="projectsEdit glyphicon glyphicon-edit"></button>
		<% } %>
        <a href="#/entry/<%= _id %>"><span class="glyphicon glyphicon-arrow-right"></span></a>
        <% if(isProject) { %>
            <a href="#/project/<%= _id %>"><span style="" class="glyphLink glyphicon glyphicon-list-alt"></span></a>
			<button style="margin-left:5px;" identity="<%= _id %>" class="projectsOpenTreeView glyphicon glyphicon-fullscreen"></button>
		<% } %>
		<div id="friendsInThisProjects<%= _id %>">
<% if(friendsThere != "") { %>
			<% _.each(friendsThere.split(","), function(ofriend) { %> 
				<div class="friendInProjectMini"><%= ofriend %></div>
			<% }); %> 
<% } %>
		</div>
    </div>
	<div id="treeInShowHere<%= _id %>" class="treeShowContainer treeInShowHere<%= _id %>"></div>
</div>
<% } %>
