    <h1 class="login-header">Manage your projects easier!</h1>
    <div class="login-screen">
        <div class="login-background"></div>
        <input type="text" id="username" ng-blur="onUsernameBlur()" ng-focus="onUsernameFocus()" value="Write your email here!" />
        <input type="text" id="password" ng-blur="onPasswordBlur()" ng-focus="onPasswordFocus()" value="Write your password here!" />
        <button class="btn btn-default" ng-click="login()" type="button" id="try_login">Login</button>
    </div>

