<div id="project_all_inner_container_one_list">
			<div class="viewChooseDivB">
			<% if(typeof not_show_buttons == "undefined"){ %>
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle viewButtonsIn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span id="selectedViewInGeneralViews"><%= translate("List view") %></span>
						<span class="caret"></span>
					  </button>
					  <ul id="viewsAdded" class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li id="board_view_show" class="viewButtonsIn"><%= translate("Board view") %></li>
					  </ul>
					</div>
			<% } %>
			<div id="navigation_main"></div>
			</div>
<div id="the_all_projects_wrapper" class="the_all_projects_wrapper_article the_all_projects_wrapper_list_view_on_list">
	<div class="projects row list_grid_view_3columns list_view_all_projects" id="the_all_projects">
		<div class="tsortable"></div>
	</div>
</div>
</div>
<div class="clear_both"></div>