
	<div class="container" style="text-align:center">
		<div class="login-screen">
		<div class="logotype"><img src="/files/brand/logo.png" /></div>
		<h1 class="login-header">Manage your projects easier!</h1>
			<div class="login-background"></div>
			<input type="text" id="username" value="" placeholder="Write your email here!" />
			<input type="password" id="password" value="" placeholder="Write your password here!" />
			<button class="btn btn-default bubble_button login_button" type="button" id="try_login">Login</button>
			<button class="btn btn-default bubble_button register_button" type="button" id="go_to_register">Register</button>
		</div>
	</div>
