
	<div class="container" style="text-align:center">
		<div class="login-screen">
		<div class="logotype"><img src="/files/brand/logo.png" /></div>
				<h1 class="login-header">Register</h1>
			<div class="login-background"></div>
			<input type="text" id="username" value="" placeholder="Your email" />
			<input type="text" id="firstname" value="" placeholder="First name" />
			<input type="text" id="lastname" value="" placeholder="Last name" />
			<input type="text" id="lastname" value="" placeholder="Last name" />
			
			<input type="password" id="password" value="" placeholder="Your password" />
			<input type="password" id="passwordConfirmation" value="" placeholder="Your password again!" />
			<button class="btn btn-default bubble_button register_button" type="button" id="go_to_login">Login</button>
			<button class="btn btn-default bubble_button login_button" type="button" id="try_register">Register</button>
		</div>
	</div>