
	<div class="container" style="text-align:center">
		<div class="login-screen-container">
		<div class="login-screen">
		<div class="logotype"></div>
				<h1 class="login-header"><%= translate("Forget your password?") %></h1>
			<div class="login-background"></div>
			<input maxlength="40" type="text" id="remember_em" value="" placeholder="<%= translate("Your username or email") %>" />

			<button style="float:left; " class="btn btn-default bubble_button remember_em_send" type="button" id="remember_em_send"><%= translate("Send") %></button>

			<div style="clear:both;"></div>
		</div>
		</div>
	</div>